################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/GuesstimateScoringUI/bin/Debug
/GuesstimateScoringUI/obj/Debug
packages/
Services/CalculateVariance/.mvn/
